In [10]:
import pandas as pd
df = pd.read_csv(r"C:\Users\batch1\Downloads\logs_dataset.csv")
print(df)

                         @timestamp                   _id  ip_address
0       July 8th 2019, 14:43:03.000  XswJ0msBoTGddM7vxMDB  10.1.1.285
1       July 8th 2019, 14:43:01.000  dKQJ0msB7mP0GwVzvJjz  10.1.2.389
2       July 8th 2019, 14:42:59.000  CcwJ0msBoTGddM7vtb8y  10.1.1.415
3       July 8th 2019, 14:42:57.000  bKQJ0msB7mP0GwVzrZdT   10.1.1.79
4       July 8th 2019, 14:42:55.000  L6QJ0msB7mP0GwVzpZeI   10.1.1.60
...                             ...                   ...         ...
721542  June 9th 2019, 00:00:25.000  dkWJOWsBoTGddM7vRUOR   10.1.2.66
721543  June 9th 2019, 00:00:19.000  TBuJOWsB7mP0GwVzLmol  10.1.1.249
721544  June 9th 2019, 00:00:15.000  vUWJOWsBoTGddM7vHkGD  10.1.1.200
721545  June 9th 2019, 00:00:09.000  aUWJOWsBoTGddM7vB0AR  10.1.2.432
721546  June 9th 2019, 00:00:05.000  AEWIOWsBoTGddM7v90Bw  10.1.2.156

[721547 rows x 3 columns]

In [11]:
df['@timestamp'] = (
    df['@timestamp']
    .str.replace(r'(\d+)(st|nd|rd|th)', r'\1', regex=True)
)
df['@timestamp'] = pd.to_datetime(
    df['@timestamp'],
    format='%B %d %Y, %H:%M:%S.%f'
)
print(df)

                @timestamp                   _id  ip_address
0      2019-07-08 14:43:03  XswJ0msBoTGddM7vxMDB  10.1.1.285
1      2019-07-08 14:43:01  dKQJ0msB7mP0GwVzvJjz  10.1.2.389
2      2019-07-08 14:42:59  CcwJ0msBoTGddM7vtb8y  10.1.1.415
3      2019-07-08 14:42:57  bKQJ0msB7mP0GwVzrZdT   10.1.1.79
4      2019-07-08 14:42:55  L6QJ0msB7mP0GwVzpZeI   10.1.1.60
...                    ...                   ...         ...
721542 2019-06-09 00:00:25  dkWJOWsBoTGddM7vRUOR   10.1.2.66
721543 2019-06-09 00:00:19  TBuJOWsB7mP0GwVzLmol  10.1.1.249
721544 2019-06-09 00:00:15  vUWJOWsBoTGddM7vHkGD  10.1.1.200
721545 2019-06-09 00:00:09  aUWJOWsBoTGddM7vB0AR  10.1.2.432
721546 2019-06-09 00:00:05  AEWIOWsBoTGddM7v90Bw  10.1.2.156

[721547 rows x 3 columns]

In [13]:
 df.sort_values(['ip_address', '@timestamp'], inplace=True)
 print(df)

                @timestamp                   _id ip_address
721473 2019-06-09 00:06:09  DBuOOWsB7mP0GwVzhZ9U   10.1.1.1
720483 2019-06-09 01:28:39  bB7aOWsB7mP0GwVzDY5G   10.1.1.1
719233 2019-06-09 03:12:49  R0w5OmsBoTGddM7vayZT   10.1.1.1
719222 2019-06-09 03:13:45  U0w6OmsBoTGddM7vRi8R   10.1.1.1
718875 2019-06-09 03:42:39  z01UOmsBoTGddM7vuzyC   10.1.1.1
...                    ...                   ...        ...
3225   2019-07-08 11:49:00  3cBq0WsBoTGddM7va5TJ  10.1.2.99
2422   2019-07-08 12:22:29  QMKJ0WsBoTGddM7vE9N1  10.1.2.99
1704   2019-07-08 12:52:25  9pyk0WsB7mP0GwVze7sV  10.1.2.99
1138   2019-07-08 13:15:59  B8a60WsBoTGddM7vDnqQ  10.1.2.99
368    2019-07-08 13:47:19  M8jW0WsBoTGddM7vvplE  10.1.2.99

[721547 rows x 3 columns]

In [14]:
df['shift_time'] = df.groupby(['ip_address'])['@timestamp'].shift(1)
print(df)

                @timestamp                   _id ip_address  \
721473 2019-06-09 00:06:09  DBuOOWsB7mP0GwVzhZ9U   10.1.1.1
720483 2019-06-09 01:28:39  bB7aOWsB7mP0GwVzDY5G   10.1.1.1
719233 2019-06-09 03:12:49  R0w5OmsBoTGddM7vayZT   10.1.1.1
719222 2019-06-09 03:13:45  U0w6OmsBoTGddM7vRi8R   10.1.1.1
718875 2019-06-09 03:42:39  z01UOmsBoTGddM7vuzyC   10.1.1.1
...                    ...                   ...        ...
3225   2019-07-08 11:49:00  3cBq0WsBoTGddM7va5TJ  10.1.2.99
2422   2019-07-08 12:22:29  QMKJ0WsBoTGddM7vE9N1  10.1.2.99
1704   2019-07-08 12:52:25  9pyk0WsB7mP0GwVze7sV  10.1.2.99
1138   2019-07-08 13:15:59  B8a60WsBoTGddM7vDnqQ  10.1.2.99
368    2019-07-08 13:47:19  M8jW0WsBoTGddM7vvplE  10.1.2.99

                shift_time
721473                 NaT
720483 2019-06-09 00:06:09
719233 2019-06-09 01:28:39
719222 2019-06-09 03:12:49
718875 2019-06-09 03:13:45
...                    ...
3225   2019-07-08 11:47:15
2422   2019-07-08 11:49:00
1704   2019-07-08 12:22:29
1138   2019-07-08 12:52:25
368    2019-07-08 13:15:59

[721547 rows x 4 columns]

In [15]:
df.head()

,@timestamp,_id,ip_address,shift_time
721473,2019-06-09 00:06:09,DBuOOWsB7mP0GwVzhZ9U,10.1.1.1,NaT
720483,2019-06-09 01:28:39,bB7aOWsB7mP0GwVzDY5G,10.1.1.1,2019-06-09 00:06:09
719233,2019-06-09 03:12:49,R0w5OmsBoTGddM7vayZT,10.1.1.1,2019-06-09 01:28:39
719222,2019-06-09 03:13:45,U0w6OmsBoTGddM7vRi8R,10.1.1.1,2019-06-09 03:12:49
718875,2019-06-09 03:42:39,z01UOmsBoTGddM7vuzyC,10.1.1.1,2019-06-09 03:13:45

In [16]:
 df['time_diff'] = (df['@timestamp']-df['shift_time']).dt.seconds//60
 print(df)

                @timestamp                   _id ip_address  \
721473 2019-06-09 00:06:09  DBuOOWsB7mP0GwVzhZ9U   10.1.1.1
720483 2019-06-09 01:28:39  bB7aOWsB7mP0GwVzDY5G   10.1.1.1
719233 2019-06-09 03:12:49  R0w5OmsBoTGddM7vayZT   10.1.1.1
719222 2019-06-09 03:13:45  U0w6OmsBoTGddM7vRi8R   10.1.1.1
718875 2019-06-09 03:42:39  z01UOmsBoTGddM7vuzyC   10.1.1.1
...                    ...                   ...        ...
3225   2019-07-08 11:49:00  3cBq0WsBoTGddM7va5TJ  10.1.2.99
2422   2019-07-08 12:22:29  QMKJ0WsBoTGddM7vE9N1  10.1.2.99
1704   2019-07-08 12:52:25  9pyk0WsB7mP0GwVze7sV  10.1.2.99
1138   2019-07-08 13:15:59  B8a60WsBoTGddM7vDnqQ  10.1.2.99
368    2019-07-08 13:47:19  M8jW0WsBoTGddM7vvplE  10.1.2.99

                shift_time  time_diff
721473                 NaT        NaN
720483 2019-06-09 00:06:09       82.0
719233 2019-06-09 01:28:39      104.0
719222 2019-06-09 03:12:49        0.0
718875 2019-06-09 03:13:45       28.0
...                    ...        ...
3225   2019-07-08 11:47:15        1.0
2422   2019-07-08 11:49:00       33.0
1704   2019-07-08 12:22:29       29.0
1138   2019-07-08 12:52:25       23.0
368    2019-07-08 13:15:59       31.0

[721547 rows x 5 columns]

In [17]:
 df['date'] = df['@timestamp'].dt.date
 print(df)

                @timestamp                   _id ip_address  \
721473 2019-06-09 00:06:09  DBuOOWsB7mP0GwVzhZ9U   10.1.1.1
720483 2019-06-09 01:28:39  bB7aOWsB7mP0GwVzDY5G   10.1.1.1
719233 2019-06-09 03:12:49  R0w5OmsBoTGddM7vayZT   10.1.1.1
719222 2019-06-09 03:13:45  U0w6OmsBoTGddM7vRi8R   10.1.1.1
718875 2019-06-09 03:42:39  z01UOmsBoTGddM7vuzyC   10.1.1.1
...                    ...                   ...        ...
3225   2019-07-08 11:49:00  3cBq0WsBoTGddM7va5TJ  10.1.2.99
2422   2019-07-08 12:22:29  QMKJ0WsBoTGddM7vE9N1  10.1.2.99
1704   2019-07-08 12:52:25  9pyk0WsB7mP0GwVze7sV  10.1.2.99
1138   2019-07-08 13:15:59  B8a60WsBoTGddM7vDnqQ  10.1.2.99
368    2019-07-08 13:47:19  M8jW0WsBoTGddM7vvplE  10.1.2.99

                shift_time  time_diff        date
721473                 NaT        NaN  2019-06-09
720483 2019-06-09 00:06:09       82.0  2019-06-09
719233 2019-06-09 01:28:39      104.0  2019-06-09
719222 2019-06-09 03:12:49        0.0  2019-06-09
718875 2019-06-09 03:13:45       28.0  2019-06-09
...                    ...        ...         ...
3225   2019-07-08 11:47:15        1.0  2019-07-08
2422   2019-07-08 11:49:00       33.0  2019-07-08
1704   2019-07-08 12:22:29       29.0  2019-07-08
1138   2019-07-08 12:52:25       23.0  2019-07-08
368    2019-07-08 13:15:59       31.0  2019-07-08

[721547 rows x 6 columns]

In [18]:
 df['weekday'] = df['@timestamp'].dt.weekday
 print(df)

                @timestamp                   _id ip_address  \
721473 2019-06-09 00:06:09  DBuOOWsB7mP0GwVzhZ9U   10.1.1.1
720483 2019-06-09 01:28:39  bB7aOWsB7mP0GwVzDY5G   10.1.1.1
719233 2019-06-09 03:12:49  R0w5OmsBoTGddM7vayZT   10.1.1.1
719222 2019-06-09 03:13:45  U0w6OmsBoTGddM7vRi8R   10.1.1.1
718875 2019-06-09 03:42:39  z01UOmsBoTGddM7vuzyC   10.1.1.1
...                    ...                   ...        ...
3225   2019-07-08 11:49:00  3cBq0WsBoTGddM7va5TJ  10.1.2.99
2422   2019-07-08 12:22:29  QMKJ0WsBoTGddM7vE9N1  10.1.2.99
1704   2019-07-08 12:52:25  9pyk0WsB7mP0GwVze7sV  10.1.2.99
1138   2019-07-08 13:15:59  B8a60WsBoTGddM7vDnqQ  10.1.2.99
368    2019-07-08 13:47:19  M8jW0WsBoTGddM7vvplE  10.1.2.99

                shift_time  time_diff        date  weekday
721473                 NaT        NaN  2019-06-09        6
720483 2019-06-09 00:06:09       82.0  2019-06-09        6
719233 2019-06-09 01:28:39      104.0  2019-06-09        6
719222 2019-06-09 03:12:49        0.0  2019-06-09        6
718875 2019-06-09 03:13:45       28.0  2019-06-09        6
...                    ...        ...         ...      ...
3225   2019-07-08 11:47:15        1.0  2019-07-08        0
2422   2019-07-08 11:49:00       33.0  2019-07-08        0
1704   2019-07-08 12:22:29       29.0  2019-07-08        0
1138   2019-07-08 12:52:25       23.0  2019-07-08        0
368    2019-07-08 13:15:59       31.0  2019-07-08        0

[721547 rows x 7 columns]

In [19]:
 df['hour'] = df['@timestamp'].dt.hour
 print(df)

                @timestamp                   _id ip_address  \
721473 2019-06-09 00:06:09  DBuOOWsB7mP0GwVzhZ9U   10.1.1.1
720483 2019-06-09 01:28:39  bB7aOWsB7mP0GwVzDY5G   10.1.1.1
719233 2019-06-09 03:12:49  R0w5OmsBoTGddM7vayZT   10.1.1.1
719222 2019-06-09 03:13:45  U0w6OmsBoTGddM7vRi8R   10.1.1.1
718875 2019-06-09 03:42:39  z01UOmsBoTGddM7vuzyC   10.1.1.1
...                    ...                   ...        ...
3225   2019-07-08 11:49:00  3cBq0WsBoTGddM7va5TJ  10.1.2.99
2422   2019-07-08 12:22:29  QMKJ0WsBoTGddM7vE9N1  10.1.2.99
1704   2019-07-08 12:52:25  9pyk0WsB7mP0GwVze7sV  10.1.2.99
1138   2019-07-08 13:15:59  B8a60WsBoTGddM7vDnqQ  10.1.2.99
368    2019-07-08 13:47:19  M8jW0WsBoTGddM7vvplE  10.1.2.99

                shift_time  time_diff        date  weekday  hour
721473                 NaT        NaN  2019-06-09        6     0
720483 2019-06-09 00:06:09       82.0  2019-06-09        6     1
719233 2019-06-09 01:28:39      104.0  2019-06-09        6     3
719222 2019-06-09 03:12:49        0.0  2019-06-09        6     3
718875 2019-06-09 03:13:45       28.0  2019-06-09        6     3
...                    ...        ...         ...      ...   ...
3225   2019-07-08 11:47:15        1.0  2019-07-08        0    11
2422   2019-07-08 11:49:00       33.0  2019-07-08        0    12
1704   2019-07-08 12:22:29       29.0  2019-07-08        0    12
1138   2019-07-08 12:52:25       23.0  2019-07-08        0    13
368    2019-07-08 13:15:59       31.0  2019-07-08        0    13

[721547 rows x 8 columns]

In [20]:
 df['is_weekend'] = ((df['weekday'] == 5) | (df['weekday'] == 6)).astype(int)
 print(df)

                @timestamp                   _id ip_address  \
721473 2019-06-09 00:06:09  DBuOOWsB7mP0GwVzhZ9U   10.1.1.1
720483 2019-06-09 01:28:39  bB7aOWsB7mP0GwVzDY5G   10.1.1.1
719233 2019-06-09 03:12:49  R0w5OmsBoTGddM7vayZT   10.1.1.1
719222 2019-06-09 03:13:45  U0w6OmsBoTGddM7vRi8R   10.1.1.1
718875 2019-06-09 03:42:39  z01UOmsBoTGddM7vuzyC   10.1.1.1
...                    ...                   ...        ...
3225   2019-07-08 11:49:00  3cBq0WsBoTGddM7va5TJ  10.1.2.99
2422   2019-07-08 12:22:29  QMKJ0WsBoTGddM7vE9N1  10.1.2.99
1704   2019-07-08 12:52:25  9pyk0WsB7mP0GwVze7sV  10.1.2.99
1138   2019-07-08 13:15:59  B8a60WsBoTGddM7vDnqQ  10.1.2.99
368    2019-07-08 13:47:19  M8jW0WsBoTGddM7vvplE  10.1.2.99

                shift_time  time_diff        date  weekday  hour  is_weekend
721473                 NaT        NaN  2019-06-09        6     0           1
720483 2019-06-09 00:06:09       82.0  2019-06-09        6     1           1
719233 2019-06-09 01:28:39      104.0  2019-06-09        6     3           1
719222 2019-06-09 03:12:49        0.0  2019-06-09        6     3           1
718875 2019-06-09 03:13:45       28.0  2019-06-09        6     3           1
...                    ...        ...         ...      ...   ...         ...
3225   2019-07-08 11:47:15        1.0  2019-07-08        0    11           0
2422   2019-07-08 11:49:00       33.0  2019-07-08        0    12           0
1704   2019-07-08 12:22:29       29.0  2019-07-08        0    12           0
1138   2019-07-08 12:52:25       23.0  2019-07-08        0    13           0
368    2019-07-08 13:15:59       31.0  2019-07-08        0    13           0

[721547 rows x 9 columns]

In [21]:
 df['hour_bucket'] = df['hour']//4
 print(df)

                @timestamp                   _id ip_address  \
721473 2019-06-09 00:06:09  DBuOOWsB7mP0GwVzhZ9U   10.1.1.1
720483 2019-06-09 01:28:39  bB7aOWsB7mP0GwVzDY5G   10.1.1.1
719233 2019-06-09 03:12:49  R0w5OmsBoTGddM7vayZT   10.1.1.1
719222 2019-06-09 03:13:45  U0w6OmsBoTGddM7vRi8R   10.1.1.1
718875 2019-06-09 03:42:39  z01UOmsBoTGddM7vuzyC   10.1.1.1
...                    ...                   ...        ...
3225   2019-07-08 11:49:00  3cBq0WsBoTGddM7va5TJ  10.1.2.99
2422   2019-07-08 12:22:29  QMKJ0WsBoTGddM7vE9N1  10.1.2.99
1704   2019-07-08 12:52:25  9pyk0WsB7mP0GwVze7sV  10.1.2.99
1138   2019-07-08 13:15:59  B8a60WsBoTGddM7vDnqQ  10.1.2.99
368    2019-07-08 13:47:19  M8jW0WsBoTGddM7vvplE  10.1.2.99

                shift_time  time_diff        date  weekday  hour  is_weekend  \
721473                 NaT        NaN  2019-06-09        6     0           1
720483 2019-06-09 00:06:09       82.0  2019-06-09        6     1           1
719233 2019-06-09 01:28:39      104.0  2019-06-09        6     3           1
719222 2019-06-09 03:12:49        0.0  2019-06-09        6     3           1
718875 2019-06-09 03:13:45       28.0  2019-06-09        6     3           1
...                    ...        ...         ...      ...   ...         ...
3225   2019-07-08 11:47:15        1.0  2019-07-08        0    11           0
2422   2019-07-08 11:49:00       33.0  2019-07-08        0    12           0
1704   2019-07-08 12:22:29       29.0  2019-07-08        0    12           0
1138   2019-07-08 12:52:25       23.0  2019-07-08        0    13           0
368    2019-07-08 13:15:59       31.0  2019-07-08        0    13           0

        hour_bucket
721473            0
720483            0
719233            0
719222            0
718875            0
...             ...
3225              2
2422              3
1704              3
1138              3
368               3

[721547 rows x 10 columns]

In [31]:
 ip_addr ='ip_address'
 print(ip_addr)

ip_address

In [30]:
 ip_counts = df.groupby(ip_addr)['@timestamp'].count().reset_index()
 print(ip_counts)

     ip_address  @timestamp
0      10.1.1.1        1446
1    10.1.1.100        2860
2    10.1.1.101        1465
3    10.1.1.106        1408
4    10.1.1.109        1459
..          ...         ...
381   10.1.2.86        4307
382   10.1.2.89        2826
383   10.1.2.90        2904
384   10.1.2.95        2868
385   10.1.2.99        1423

[386 rows x 2 columns]

In [25]:
ip_counts.head()

   ip_address  @timestamp
0    10.1.1.1        1446
1  10.1.1.100        2860
2  10.1.1.101        1465
3  10.1.1.106        1408
4  10.1.1.109        1459

In [28]:
 ip_counts = ip_counts.rename(columns={'@timestamp':'total_count'})
 print(ip_counts)

     ip_address  total_count
0      10.1.1.1         1446
1    10.1.1.100         2860
2    10.1.1.101         1465
3    10.1.1.106         1408
4    10.1.1.109         1459
..          ...          ...
381   10.1.2.86         4307
382   10.1.2.89         2826
383   10.1.2.90         2904
384   10.1.2.95         2868
385   10.1.2.99         1423

[386 rows x 2 columns]

In [29]:
daily_counts = df.groupby([ip_addr,'date'])['@timestamp'].count().reset_index()
print(daily_counts)

      ip_address        date  @timestamp
0       10.1.1.1  2019-06-09          36
1       10.1.1.1  2019-06-10          37
2       10.1.1.1  2019-06-11          70
3       10.1.1.1  2019-06-12          38
4       10.1.1.1  2019-06-13          32
...          ...         ...         ...
11575  10.1.2.99  2019-07-04          79
11576  10.1.2.99  2019-07-05          61
11577  10.1.2.99  2019-07-06          89
11578  10.1.2.99  2019-07-07          47
11579  10.1.2.99  2019-07-08          41

[11580 rows x 3 columns]

In [32]:
daily_counts = daily_counts.rename(columns={'@timestamp':'daily_counts'})
print(daily_counts)

      ip_address        date  daily_counts
0       10.1.1.1  2019-06-09            36
1       10.1.1.1  2019-06-10            37
2       10.1.1.1  2019-06-11            70
3       10.1.1.1  2019-06-12            38
4       10.1.1.1  2019-06-13            32
...          ...         ...           ...
11575  10.1.2.99  2019-07-04            79
11576  10.1.2.99  2019-07-05            61
11577  10.1.2.99  2019-07-06            89
11578  10.1.2.99  2019-07-07            47
11579  10.1.2.99  2019-07-08            41

[11580 rows x 3 columns]

In [33]:
daily_counts_avg = daily_counts.groupby(ip_addr).daily_counts.median().reset_index()
print(daily_counts_avg)

     ip_address  daily_counts
0      10.1.1.1          40.0
1    10.1.1.100          78.0
2    10.1.1.101          40.0
3    10.1.1.106          35.5
4    10.1.1.109          42.5
..          ...           ...
381   10.1.2.86         111.0
382   10.1.2.89          73.5
383   10.1.2.90          76.0
384   10.1.2.95          77.5
385   10.1.2.99          37.0

[386 rows x 2 columns]

In [34]:
daily_counts_avg.head(5)

   ip_address  daily_counts
0    10.1.1.1          40.0
1  10.1.1.100          78.0
2  10.1.1.101          40.0
3  10.1.1.106          35.5
4  10.1.1.109          42.5

In [35]:
weekend_counts = df.groupby([ip_addr, 'is_weekend'])['@timestamp'].count().reset_index()
print(weekend_counts)

     ip_address  is_weekend  @timestamp
0      10.1.1.1           0         975
1      10.1.1.1           1         471
2    10.1.1.100           0        1960
3    10.1.1.100           1         900
4    10.1.1.101           0        1006
..          ...         ...         ...
767   10.1.2.90           1         871
768   10.1.2.95           0        1973
769   10.1.2.95           1         895
770   10.1.2.99           0         978
771   10.1.2.99           1         445

[772 rows x 3 columns]